################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api/.vs/Presentation/FileContentIndex
/BusinessObject/bin/Debug/net9.0
